/*your custom CSS here*/
.heading {
  background-image: url(../img/heading.jpg);
  background-image: url(../img/heading.jpg), linear-gradient(#005B96, #03396C);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #003366;
  height: 400px;
  width: 100%;
}

.heading h1
{
  color: #fff;
  font-size: 50px;
  text-align: center;
  width: 100%;
  padding-top: 200px;
}
img
{
  width: 100%;
}

h1
{
  color: white;
}

body {
  background-image: url(../img/metal.jpg);
  background-repeat: no-repeat;
  background-position: center 400px;
  background-color: #999;
}
