/*your custom CSS here*/
.heading {
  background-image: url(../img/heading.jpg);
  height: 100px;
}
.heading img
{
  width: 100%;
  height: 100px;
}

body {
  background-image: url(../img/metal.jpg);
}
