/*your custom CSS here*/
.heading {
  background-image: url(../img/heading.jpg);
  background-repeat: no-repeat;
  height: 200px;
  padding: 10px;
  margin: 50px;
}
.heading img
{
  width: 100%;
  height: 200px;
}

h1
{
  color: white;
}

body {
  background-image: url(../img/metal.jpg);
}
